@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
  height: 100vh;
  // width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;

}

.card {
  border-radius: 10px;
  background-color: hsl(228, 56%, 26%);
  width: 86%;
}

.top {
  background-color: hsl(228, 56%, 26%);
  padding: 30px;
  border-top-right-radius: 100px;
}

.botones {
  display: flex;
  margin-top: 20px;
  gap: 14px;
}

.btn {
  background-color: hsl(229, 57%, 11%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botton {
  background-color: hsl(228, 56%, 26%);
//   width: 300px;
  padding: 30px;

  .description {
    color: hsl(243, 100%, 93%);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 100%;
  }

  .abajo {
    // padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: hsl(243, 100%, 93%);
      font-size: 12px;
      font-weight: 700;
    }
  }

  .progress-bar {
    background-color: hsl(229, 57%, 11%);
    width: 100%;
    padding: 2px;
    border-radius: 15px;
    margin: 15px 0 10px 0;

    .progress-bar-color {
      width: 75%;
      background-image: linear-gradient(
        to right,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
      );

      padding: 1px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .ball {
      height: 12px;
      width: 12px;
      background-color: hsl(243, 100%, 93%);
      border-radius: 15px;
    }
  }
}

.floating {
  position: absolute;
left: 50%;



  .msg {
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -50%;
    gap: 10px;
    text-transform: uppercase;
  


    strong {
      font-size: 30px;
    }
    span {
      font-size: 10px;
      color: hsl(229, 7%, 55%);
      font-weight: 700;
    }
  }
}

@media (min-width:1440px) {

    body{
        background-image: url('./images/bg-desktop.png');
        background-color:  hsl(229, 57%, 11%);
        background-position-y:350px ;
      background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }

    .top{
        max-width: 300px;
    }
    .botton{

        max-width: 500px;
        .description {
            text-align:left;
          }
    }
    
  


    .container{
        flex-direction: row;
        align-items: flex-end;
        height: fit-content;
        width: 64%;
        max-width: 1440px;
        
    }

    .triangule{
        position: relative;
        display: block;
        width: 0;
        height: 0;
        border-right: 10px solid white;
        border-top: 10px solid white;
        border-left: 10px solid transparent;
        border-bottom:10px solid transparent ;
        right: 54%;
        top: 10%;
        
    }

    .floating{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        left: unset;
        right: 23%;
        top: 30%;
    }

    .attribution {
        margin-top: 200px;
      
      }
    
}

.attribution {
  font-size: 11px;
  text-align: center;
  color:white;
}

.attribution a {
    color: #a8eb12;
    font-weight: bold;
}
